{% extends "dashboard_base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Обработка запроса</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="clientName" class="form-label">Имя клиента</label>
            <input type="text" class="form-control" id="clientName" value="{{ request.client.full_name }}" readonly>
        </div>
        <div class="mb-3">
            <label for="clientPhone" class="form-label">Телефон клиента</label>
            <input type="text" class="form-control" id="clientPhone" value="{{ request.client.telephone }}" readonly>
        </div>
        <div class="mb-3">
            <label for="serviceName" class="form-label">Услуга</label>
            <input type="text" class="form-control" id="serviceName" value="{{ request.service.service_name }}" readonly>
        </div>
        <div class="mb-3">
            <label for="serviceCost" class="form-label">Стоимость услуги</label>
            <input type="text" class="form-control" id="serviceCost" value="{{ request.service.cost }}" readonly>
        </div>
        <div class="mb-3">
            <label for="deliveryDate" class="form-label">Дата доставки</label>
            <input type="date" class="form-control" id="deliveryDate" name="delivery_date">
        </div>
        <div id="service_objects" class="mb-3">
            {# <label for="serviceObject" class="form-label">Вид услуги</label>
            <select class="form-select" id="serviceObject" name="service_object" required>
                {% for object in service_objects %}
                <option value="{{ object.id }}">{{ object.object_name }}</option>
                {% endfor %}
            </select> #}
        </div>
        <div class="mb-3">
            <label for="totalPrice" class="form-label">Общая стоимость заказа</label>
            <input type="input" class="form-control" id="totalPrice" name="total_price" readonly>
        </div>
        <button type="button" id="add_service_object_but" name="add_service_object" class="btn btn-success">Добавить вид услуги</button>
        <button type="submit" name="check_stock" class="btn btn-secondary">Проверить на складе</button>
        <button type="submit" name="create_order" class="btn btn-primary">Создать заказ</button>

        {% if checked %}
        <div class="mt-3">
            {% if missing_count > 0 %}
            <div class="alert alert-danger" role="alert">
                Missing {{ missing_count }} units.
            </div>
            <button type="submit" name="create_request_for_missing_stock" class="btn btn-warning">Request Missing Stock</button>
            <input type="hidden" name="missing_count" value="{{ missing_count }}">
            {% else %}
            <div class="alert alert-success" role="alert">
                Sufficient stock available.
            </div>
            {% endif %}
        </div>
        {% endif %}
    </form>
</div>

<script src="{{url_for('static', filename='js/create_order.js')}}"></script>

{% endblock %}