{% extends "employee/dashboard_employee_base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Мои заказы</h2>
    <div class="mb-3">
        <label for="searchInput" class="form-label">Поиск:</label>
        <input type="text" id="searchInput" class="form-control" placeholder="Введите для поиска...">
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Клиент</th>
                <th>Услуга</th>
                <th>Дата заказа</th>
                <th>Статус</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ order.client_name }}</td>
                <td>{{ order.service_name }}</td>
                <td>{{ order.order_date|kravchuk_date_format }}</td>
                <td>{{ order.status }}</td>
                <td>
                    <a href="{{ url_for('employees.order_details', order_id=order.id) }}" class="btn btn-primary btn-sm">Перейти</a>
                    <a href="{{ url_for('employees.create_report', order_id=order.id) }}" class="btn btn-outline-info btn-sm">Оформить отчет</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}