{% extends "dashboard_base.html" %}


{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Заявки клиентов</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Услуга</th>
                <th scope="col">Клиент</th>
                <th scope="col">Телефон</th>
                <th scope="col">Дата заявки</th>
                <th scope="col">Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ request.service.service_name }}</td>
                <td>{{ request.client.full_name }}</td>
                <td>{{ request.client.telephone }}</td>
                <td>{{ request.order_date }}</td>
                <td>
                    <a href="{{ url_for('employees.create_order', request_id=request.id) }}" class="btn btn-primary">Обработать</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}