{% extends "employee/dashboard_employee_base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Обработка заказа</h2>
    <form method="POST">
        <div id="orderId" style="display: none;">{{ order.id }}</div>
        <div class="mb-3">
            <label for="clientName" class="form-label">Имя клиента</label>
            <div id="clientId" style="display: none;">{{ order.client.id }}</div>
            <input type="text" class="form-control" id="clientName" value="{{ order.client.full_name }}" readonly>
        </div>
        <div class="mb-3">
            <label for="clientPhone" class="form-label">Телефон клиента</label>
            <input type="text" class="form-control" id="clientPhone" value="{{ order.client.telephone }}" readonly>
        </div>
        <div class="mb-3">
            <label for="serviceName" class="form-label">Услуга</label>
            <div id="serviceId" style="display: none;">{{ order.service.id }}</div>
            <input type="text" class="form-control" id="serviceName" value="{{ order.service.service_name }}" readonly>
        </div>
        <div class="mb-3">
            <label for="serviceCost" class="form-label">Стоимость услуги</label>
            <input type="text" class="form-control" id="serviceCost" value="{{ order.service.cost }}" readonly>
        </div>
        <div class="mb-3">
            <label for="deliveryDate" class="form-label">Дата доставки</label>
            <input type="date" class="form-control" id="deliveryDate" name="delivery_date" value="{{ delivery.delivery_date }}">
        </div>
        <div class="form-group">
            <div id="orderId" style="display: none;">{{ order.id }}</div>
            <label for="status">Статус</label>
            <select class="form-control" id="statusIdSelect" name="status">
                {% for status in order_statuses %}
                <option value="{{ status.id }}" {% if status.id == order.status_id %}selected{% endif %}>{{ status.status_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="service_objects" class="mb-3">
            <!-- Place for dynamycally added objects -->
        </div>
        <div class="mb-3">
            <label for="totalPrice" class="form-label">Общая стоимость заказа</label>
            <input type="input" class="form-control" id="totalPrice" name="total_price" readonly>
        </div>
        <button type="button" id="add_service_object_but" name="add_service_object" class="btn btn-success">Добавить вид услуги</button>
        <button type="button" id="update_order" name="create_order" class="btn btn-primary">Обновить данные заказа</button>
    </form>
</div>

<script src="{{url_for('static', filename='js/process_order.js')}}"></script>

{% endblock %}