{% extends "dashboard_base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Ваши заявки</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название услуги</th>
                <th>Дата оформления</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ order.service.service_name }}</td>
                <td>{{ order.order_date|kravchuk_date_format }}</td>
                <td>
                    <form action="{{ url_for('clients.delete_request', request_id=order.id) }}" method="post">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}