{% extends 'admin/dashboard_admin_base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Добавить услугу</h2>
    <form method="POST" action="{{ url_for('admin.add_service') }}">
        <div class="form-group">
            <label for="service_name">Название услуги</label>
            <input type="text" class="form-control" id="service_name" name="service_name" required>
        </div>
        <div class="form-group">
            <label for="service_cost">Стоимость услуги</label>
            <input type="text" class="form-control" id="service_cost" name="service_cost" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
{% endblock %}