{% extends 'admin/base_admin.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Добавить статус заказа</h2>
    <form method="POST" action="{{ url_for('admin.add_order_status') }}">
        <div class="form-group">
            <label for="status_name">Название статуса</label>
            <input type="text" class="form-control" id="status_name" name="status_name" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
{% endblock %}
