{% extends 'admin/dashboard_admin_base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Добавить должность</h2>
    <form method="POST" action="{{ url_for('admin.add_post') }}">
        <div class="form-group">
            <label for="post_name">Название должности</label>
            <input type="text" class="form-control" id="post_name" name="post_name" required>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>
{% endblock %}
