{% extends 'admin/dashboard_admin_base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Изменить подкатегорию</h2>
    <form method="POST" action="{{ url_for('admin.update_subcategory', subcat_id=subcategory.id) }}">
        <div class="form-group">
            <label for="subcat_name">Название подкатегории</label>
            <input type="text" class="form-control" id="subcat_name" name="subcat_name" value="{{ subcategory.subcat_name }}" required>
        </div>
        <div class="form-group">
            <label for="cat_id">Категория</label>
            <select class="form-control" id="cat_id" name="cat_id" required>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == subcategory.cat_id %}selected{% endif %}>{{ category.cat_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="subcat_cost">Стоимость подкатегории</label>
            <input type="text" class="form-control" id="subcat_cost" name="subcat_cost" value="{{ subcategory.cost }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
    </form>
</div>
{% endblock %}
