{% extends 'admin/dashboard_admin_base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Изменить статус заказа</h2>
    <form method="POST" action="{{ url_for('admin.update_order_status', status_id=order_status.id) }}">
        <div class="form-group">
            <label for="status_name">Название статуса</label>
            <input type="text" class="form-control" id="status_name" name="status_name" value="{{ order_status.status_name }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div>
{% endblock %}
