{% extends 'admin/dashboard_admin_base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Изменить категорию</h2>
    <form action="{{ url_for('admin.update_category', category_id=category.id) }}" method="POST">
        <div class="form-group">
            <label for="cat_name">Название категории</label>
            <input type="text" class="form-control" id="cat_name" name="cat_name" value="{{ category.cat_name }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a href="{{ url_for('admin.manage_categories') }}" class="btn btn-secondary">Назад</a>
    </form>
</div>
{% endblock %}
