{% extends 'admin/base_admin.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Управление подкатегориями</h2>
    <a href="{{ url_for('admin.add_subcategory_form') }}" class="btn btn-primary mb-3">Добавить подкатегорию</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Категория</th>
                <th>Название подкатегории</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for subcategory in subcategories %}
            <tr>
                <td>{{ subcategory.id }}</td>
                <td>{{ subcategory.category.cat_name }}</td>
                <td>{{ subcategory.subcat_name }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_subcategory_form', subcat_id=subcategory.id) }}" class="btn btn-warning btn-sm">Изменить</a>
                    <form action="{{ url_for('admin.delete_subcategory', subcat_id=subcategory.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
