{% extends 'admin/dashboard_admin_base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Управление статусами заказов</h2>
    <a href="{{ url_for('admin.add_order_status_form') }}" class="btn btn-primary mb-3">Добавить статус заказа</a>
    <div class="mb-3">
        <label for="searchInput" class="form-label">Поиск:</label>
        <input type="text" id="searchInput" class="form-control" placeholder="Введите для поиска...">
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название статуса</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for status in order_statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.status_name }}</td>
                <td>
                    <a href="{{ url_for('admin.edit_order_status_form', status_id=status.id) }}" class="btn btn-warning btn-sm">Изменить</a>
                    <form action="{{ url_for('admin.delete_order_status', status_id=status.id) }}" method="POST" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
