{% extends "dashboard_base.html" %}


{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Client Requests</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Service Name</th>
                <th scope="col">Client Name</th>
                <th scope="col">Client Phone</th>
                <th scope="col">Request Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ request.service.service_name }}</td>
                <td>{{ request.client.full_name }}</td>
                <td>{{ request.client.telephone }}</td>
                <td>{{ request.order_date }}</td>
                <td>
                    <a href="{{ url_for('employees.create_order', request_id=request.id) }}" class="btn btn-primary">Process Order</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}