{% extends "dashboard_base.html" %}

{% block title %}View Orders{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Мои заказы</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Услуга</th>
                <th scope="col">Дата оформления</th>
                <th scope="col">Дата доставки</th>
                <th scope="col">Телефон сотрудника</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ order.service_name }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.delivery_date if order.delivery_date else 'Не требуется' }}</td>
                <td>{{ order.employee_telephone }}</td>
                <td>{{ order.status_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}